

p:after {
    content: " ";
    border: 1px solid #dad6d6;
    margin-left:52px;
    display: block;
    max-width: 110px;
}

button {
    color: black;
    background-color: #aee2ae;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 7px;
    width: 60%;
    outline:none;  
} 







