.app-body {
    background-color: #d8d4d4;
    height: 100%;
    /* margin: 8px; */
}

h2 {
    padding: 2px;
    font-weight: bold;
}

.footer {
    position: relative;
    /* left: 50%; */
    margin: 5px 0 10px 0;
}

.card-filter {
    border: white;
    border-radius: 0%;
    background-color: white;
    height: 10%;
    margin-bottom: 5%;
}