.app-body {
    background-color: #F1F1F1;
    /* margin: 8px; */
}

h2 {
    padding: 2px;
    font-weight: bold;
}

.footer {
    position: relative;
    /* left: 50%; */
    margin: 5px 0 10px 0;
}